<div class="browser_width colelem" id="u592-bw">
  <div id="u592"><!-- column -->
    <div class="clearfix" id="u592_align_to_page">
      <div class="clearfix colelem" id="u593-6"><!-- content -->
        <p style="color: #f8f8f8;font-family: 'Magra';"> <%=link_to "Home", root_path %>|  <%=link_to "CONTACTS", contacts_index_path, target: :_blank %>| <%=link_to "GAME ENTRY", entries_index_path, target: :_blank %>  | <%=link_to "GAMES MASTER", games_master_index_path, target: :_blank %> |</p>
        <p>&nbsp;</p>
        <p style="color: #f8f8f8; font-family: 'Magra';"><span>Strip Pals © 2016 </span><a style="color: #f8f8f8 " class="nonblock" href="privacy-policy.html">Privacy policy</a></p>
      </div>
    </div>
  </div>
</div>