<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <blockquote>
<!--          <p><img src="images/BackG.jpg" alt="" width="1200" height="400" class="img-responsive"/>-->
           <%= image_tag 'BackG.jpg', width: "1000", height: "400", class: "img-responsive"%>
        </blockquote>
        <h1 class="text-center" style="font-size: 50px;font-family: 'myfont';"><span style="color:  #2B3856">-</span> Playing Modes <span style="color: #2C3539">-</span></h1>
        <div class="row"></div>
        <table width="950" height="80" border="0" align="center" cellpadding="3" cellspacing="3">
          <tbody>
          <tr>
            <td><span class="text-center" style="color: #F01616; text-align: left;" width="750">Playing Strip Me Naked only ends when one player has won enough games to strip all other players. The time taken to completion will vary depending on the playing mode.</span></td>
            <td><span class="text-center">To ensure that Strip Pals is enjoyable and affordable it is important to the site owners that it provides real value for money. To achieve this and to cater for all the players 4 different levels of playing modes were devised.</spanstyle ="color: #F01616></span>-</td>
              <td><span class="text-center">It is strongly stressed that this is a action driven by the site owners via the Games Master and players can still opt for the own version of playing.</span></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"></div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a href="entry.html" target="_blank">ACE Playing Modes</a></h2>
      <p>Five Games</p>
      <p>The first player to win three games is the winner and the other player must strip.</p>
      <p>Second Chance.</p>
      <p>Two more games are available for the losing player to get even!! Or to play another mode.</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a href="entry.html" target="_blank">KING Playing Mode</a></h2>
      <p>Three Games</p>
      <p>The first player to win two games is the winner and the other player must strip.</p>
      <p>Second Chance.</p>
      <p>Another game is available for the losing player to get even!! Or to play another mode</p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a href="entry.html" target="_blank">Queen Playing Mode</a></h2>
      <p>Two Games</p>
      <p>Each player wears one piece of clothing and the losing player removes that piece of clothing after each losing  hand.</p>
      <p>Second Chance.</p>
      <p>A second game is available for the losing player to get even!! </p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h2><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span><a href="entry.html" target="_blank">JACK Playing mode</a></h2>
      <p>Tournament</p>
      <p>Each player wears one piece of clothing and the losing player removes that piece of clothing after each losing  hand.</p>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="container">
    <div class="row">
      <h1 style="font-size: 20px;color: #FF0000;font-family: 'myfont'; text-align: center;">These playing modes have been developed to be fair, cost effective and challenging for players. Please ensure the playing mode is communicated to all players before commencing playing.</h1>
      <hr>
    </div>
  </div>
  <p>&nbsp;</p>
</div>

<section class="well">
  <div class="container">
    <div class="row"></div>
  </div>
</section>
<div class="container">
  <div class="row"></div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <h2 style="font-family: 'myfont';">Contact Us</h2>
      <address>
        <a href="mailto:GamesDirector@strippals.com" style="font-family: 'myfont';">GamesDirector@strippals.com</a><br>
        <a href="mailto:admin@strippals.com" style="font-family: 'myfont';">admin@strippals.com</a><br>
        <a href="mailto:help@strippals.com " style="font-family: 'myfont';">help@strippals.com </a>
      </address>
      <address>
        &nbsp;
      </address>
      <div class="row">
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>
</div>
<hr>
<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p style="font-family: 'myfont';">Copyright © Strip-Pals. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>