<div class="clearfix" id="page"><!-- column -->
  <div class="position_content" id="page_position_content">
    <div class="browser_width mse_pre_init" id="u726-bw">
      <div id="u726"><!-- simple frame --></div>
    </div>
    <div class="browser_width mse_pre_init" id="u665-bw">
      <div id="u665"><!-- simple frame --></div>
    </div>
    <a class="anchor_item colelem" id="top"></a>
    <a class="nonblock nontext mse_pre_init" id="u664" href="index.html"><!-- simple frame --></a>
    <div class="clearfix colelem" id="pu2435"><!-- group -->
      <div class="browser_width grpelem" id="u2435-bw">
        <div id="u2435"><!-- group -->
          <div class="clearfix" id="u2435_align_to_page">
            <div class="clearfix grpelem" id="u2436-4"><!-- content -->
              <p class="par-color">Feedback</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix grpelem" id="u2437-6"><!-- content -->
        <p class="par-color">Please respond to us by filling in ALL boxes below.</p>
        <p class="par-color">Please understand due to time difference allow 36 hours for response.</p>
      </div>
      <%#= form_for @contact, id: "widgetu357", class: "form-grp clearfix grpelem" do |form| %>
      <form class="form-grp clearfix grpelem" id="widgetu357" method="post" enctype="multipart/form-data" action="scripts/form-u357.php"><!-- none box -->
        <div class="fld-grp clearfix grpelem" id="widgetu368" data-required="true"><!-- none box -->
          <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u371-4"><!-- content -->
            <input class="wrapped-input" type="text" spellcheck="false" id="widgetu368_input" name="custom_U368" tabindex="1"/>
            <label class="wrapped-input fld-prompt" id="widgetu368_prompt" for="widgetu368_input">
                <span class="actAsPara">&nbsp; Name*</span>
            </label>
          </span>
        </div>
        <div class="fld-grp clearfix grpelem" id="widgetu373" data-required="true" data-type="email"><!-- none box -->
          <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u375-4"><!-- content -->
            <input class="wrapped-input" type="text" spellcheck="false" id="widgetu373_input" name="Email" tabindex="3"/>
            <label class="wrapped-input fld-prompt" id="widgetu373_prompt" for="widgetu373_input">
              <span class="actAsPara">&nbsp; Email*</span>
            </label>
          </span>
        </div>
        <div class="clearfix grpelem" id="u367-4"><!-- content -->
          <p>Submitting Form...</p>
        </div>
        <div class="clearfix grpelem" id="u358-4"><!-- content -->
          <p>The server encountered an error.</p>
        </div>
        <div class="clearfix grpelem" id="u377-4"><!-- content -->
          <p>Form received.</p>
        </div>
        <input class="submit-btn NoWrap grpelem" id="u372-17" type="submit" value="" tabindex="5"/><!-- state-based BG images -->
        <div class="fld-grp clearfix grpelem" id="widgetu363" data-required="false"><!-- none box -->
          <span class="fld-textarea actAsDiv clearfix grpelem" id="u365-4"><!-- content -->
              <textarea class="wrapped-input" id="widgetu363_input" name="custom_U363" tabindex="4"></textarea>
              <label class="wrapped-input fld-prompt" id="widgetu363_prompt" for="widgetu363_input">
                <span class="actAsPara">Message*</span>
              </label>
          </span>
        </div>
        <div class="fld-grp clearfix grpelem" id="widgetu359" data-required="true"><!-- none box -->
          <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u362-4"><!-- content -->
             <input class="wrapped-input" type="text" spellcheck="false" id="widgetu359_input" name="custom_U359" tabindex="2"/>
             <label class="wrapped-input fld-prompt" id="widgetu359_prompt" for="widgetu359_input">
                 <span class="actAsPara">&nbsp; Phone</span>
             </label>
          </span>
        </div>
      </form>
    </div>
    <div class="verticalspacer"></div>
    <%= render 'shared/footer' %>
  </div>
</div>

