.position{
  margin-left: 20px !important;
  margin-top: 10px !important;
}
.text-color{
  color: #FFFFFF !important;
}
.image-position{
  transform: translateX(-14%);
}
.text-postion{
  text-align: left;
}
.font-color{
  color: #0D0D0D;
}
.fade-font{
  opacity: 0.5;
  filter: Alpha(opacity=50);
  font-size: 18px;
}
.font-length{
  font-size: 18px;
}
.overflow-position{
  max-height: 500px !important;
  overflow-y: scroll !important;
}
.padding{
  padding: 42px;
}
.user-name-position{
  width: 301px;
  float: right;
  overflow: auto;
  height: 280px;
  list-style: none;
  border: 1px solid #E2E2E2;
  padding: 10px;
  font-size: 13px;
  color: #808080;
  background: #ffffff;
}
.messages-width{
  width: 770px !important;
}
.users-width{
  width: 205px !important;
}
.image-positions{
  width: 110px;
  margin-top: 25px;
}
@media only screen and (max-width: 576px){
	.chat-position
	{
      margin-left: 115px !important;
      margin-top: -41px !important;
	}
}