.position{
  margin-left: 20px !important;
  margin-top: 10px !important;
}
.text-color{
  color: #FFFFFF !important;
}
.image-position{
  transform: translateX(-14%);
}
.text-postion{
  text-align: left;
}
.font-color{
  color: #0D0D0D;
}
.fade-font{
  opacity: 0.5;
  filter: Alpha(opacity=50);
  font-size: 18px;
}
.font-length{
  font-size: 18px;
}
.mdl-card__supporting-text{
  max-height: 500px !important;
  overflow-y: scroll !important;
}
.padding{
  padding: 42px;
}
//.browser_width > * {
//  right: -260px;
//}